<div class='friend-profile row'>
  <div class='friend-info full'>
    {{fill-murray width=200 height=200}}
    <div>
      <p>First Name: {{model.firstName}}</p>
      <p>Last: {{model.lastName}}</p>
      <p>Email: {{model.email}}</p>
      <p>Twitter: {{model.twitter}}</p>
      <ul class='friend-profile-links'>
        <li>{{link-to 'Lend article' 'articles.new'}}</li>
        <li>{{link-to 'Edit me!' 'friends.edit' model}}</li>
        <li><a href='#' {{action 'delete' model}}>Delete me!</a></li>
      </ul>
    </div>
  </div>
</div>

<div class='articles-container'>
  {{outlet}}
</div>
